version: "3.8"
services:
  app:
    build:
      context: "."
      dockerfile: "Dockerfile"
    container_name: "MySQLContainer"
    restart: always
    ports:
      - "8080:8080"
  ecart-db:
    image: mysql:8.4
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    env_file:
      - .env